:root {
	--button-color: #212121;
	--button-click-color: #da6a01;
	--button-text-color: white;
	--primary-color: #212121;
	--secondary-color: #009688;
	--tertiary-color: #009688;
	--disabled: grey;
	--accents: #707070;
	--text: #212121;
	--button_2_rounded: 200px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	width: 100%;
	height: 100%;
	/* Text styles */
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: var(--primary-color);
	perspective: 4px;
	/* The depth */
	overflow-x: hidden;
	overflow-y: scroll;
}

header {
	width: 100%;
	min-height: 100vh;
	position: relative;
	transform-style: preserve-3d;
}

header::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	background: url('bg.jpg');
	background-size: cover;
	z-index: 0;
	transform: translateZ(-4px) scale(2);
}

header div {
	position: absolute;
	z-index: 1;
	top: 50%;
	padding: 0 30px;
	font-family: 'Roboto Condensed', sans-serif;
	transform: translateZ(-2px) scale(1.5);
}

header h1 {
	font-size: 4.5rem;
	font-weight: 700;
	color: var(--secondary-color);
}

header h2 {
	font-size: 2.2rem;
	font-weight: 300;
	color: var(--accents);
}

section {
	width: 100%;
	background: white;
	position: relative;
	z-index: 2;
}

.container {
	margin: auto;
	/* To center the text horizontally */
	max-width: 1000px;
	/* Limiting the width for extra large screens */
	padding: 80px 40px;
}

.container h3 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 3rem;
}

.container p {
	padding-top: 30px;
	line-height: 1.8;
}
#link {
  line-height: 26px;
	text-decoration: none;
	position: relative;
	z-index: 0;
	display: inline-block;
	padding: 2px 5px;
  border-radius: 2px;
	overflow: hidden;
	color: var(--text);
	vertical-align: bottom;
	transition: color .3s ease-out;
}

#link::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	transform: translateY(calc(100% - 2px));
	width: 100%;
	height: 100%;
	background-image: linear-gradient(60deg, #18cecb 0%, #1b89d1 100%);
	transition: transform .25s ease-out;
}

#link:hover {
  color: white;
}

#link:hover::before {
	transform: translateY(0);
	transition: transform .25s ease-out;
}